
body {
    font-family: "Quicksand", sans-serif;
    background-color: #f9f7ea;
}

h1 {
    color: #123758;
    font-size: 30px;
    margin: 20px;
}

h2 {
    margin-left: 20px;
    color: #123758;
    font-size: 25px;
}

element.style {
    color: #123758;
}

form {
    align-items: center;
    font-size: 14px;
    text-align: center;
}

span {
    font-size: 24px;
    color: #123758;
}

input {
    background-color: #e1ebda;
    color: #123758;
    padding-right: 50px;
}

nav {
    background-color: #e1ebda;
    display: block;
    color:#123758;
    text-align: right;
    padding: 60px 0 40px;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    position: relative;
}

hr{
   margin-bottom: 10px;
}

header{
    background-color: #e1ebda;
    display: block;
    color: white;
    padding: 60px 0 40px;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    position: relative;
}

footer{
    background-color: #123758;
    display: block;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    font-size: 10px;
}

label {
    font-size: 20px;
    text-align-last: right;
}

.container {
    margin: 0px;
    padding: 0px;
}

.active {
    background-color: #e1ebda;
}

.form {
    margin: auto;
    width: 30%;
}

.form-control {
    background-color: #e1ebda;
}

.loginLinks {
    font-size: 15px;
    margin: auto;
    width: 30%;
    text-align: right;
}

.links {
    color: #6a6c6c;
}

#welcome {
    text-align: center;
    font-size: 30px;
}

#logo {
    height: 50px;
    width: 125px;
    margin: 10px;
}

#securityRole {
    margin-left: 20px;
}

.loginLinks#true {
    color: #123758;
}

@media {
    .container {
        max-width: 100%;
    }
}